* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: grid;
  /* sum all fr is equal 100% */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 10px 15px;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-auto-rows: minmax(310px, auto);
}
.item {
  background-color: white;
  border: 2px solid black;
  font-size: 30px;
  padding: 10px;
}
